button {
    background: none;
    color: blue;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
}

button {
    text-decoration: none;
}



#home-container{
    display: flex;
    justify-content: center;
    height: calc(100vh - var(--nav-bar-height) - 200px);
}

#home-presentation-container{
    margin-top: 100px;
}

#home-presentation-container h1 {
    font-size: 4rem;
}

#word{
    color: var(--purple);
    font-weight: bold;
}

.home-button{
    width: 170px;
    background-color: var(--purple);
    height: 50px;
    border-radius: 10px;
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-button button{
    color: var(--static-font-color);
}

.home-button button:hover{
    background-color: var(--purple-hover);
}

.home-button:hover{
    background-color: var(--purple-hover);
}

.threeD-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.logo-container{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-right: 10px;
}

@media (max-width: 950px) {
    #threeDModelContainer {
        display: none;
    }

    #home-presentation-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
}
}

@media (max-width: 550px) {
    #home-container {
         flex-direction: column-reverse;
     }

    .logo-container {
        flex-direction: row;
        margin-top: 0;
        margin-right: 0;
        justify-content: center;
        margin-bottom: 100px;
    }
}